/* @font-face {
  font-family: 'PT Serif Pro Demi';
  font-style: normal;
  font-weight: 400;
    src: url('ptserifpro-demi.eot');
    src: url('ptserifpro-demi.eot') format('embedded-opentype'),
         url('ptserifpro-demi.woff') format('woff'),
         url('ptserifpro-demi.ttf') format('truetype'),
         url('ptserifpro-demi.svg#PTSerifProDemi?') format('svg');
}
*/

 /*
  @font-face {
  font-family: 'PT Serif Pro';
  font-style: normal;
  font-weight: 400;
    src: url('font/ptserifpro-book.eot');
    src: url('font/ptserifpro-book.eot') format('embedded-opentype'),
         url('font/ptserifpro-book.svg#PTSerifProBook?') format('svg'),
         url('font/ptserifpro-book.woff') format('woff'),
         url('font/ptserifpro-book.ttf') format('truetype');
}
  
@font-face {
  font-family: 'PT Serif Pro';
  font-style: normal;
  font-weight: 700;
    src: url('font/ptserifpro-bold.eot');
    src: url('font/ptserifpro-bold.eot') format('embedded-opentype'),
         url('font/ptserifpro-bold.svg#PTSerifProBold?') format('svg'),
         url('font/ptserifpro-bold.woff') format('woff'),
         url('font/ptserifpro-bold.ttf') format('truetype');
}
  
@font-face {
  font-family: 'PT Serif Pro';
  font-style: normal;
  font-weight: 500;
    src: url('font/ptserifpro-narrow.eot');
    src: url('font/ptserifpro-narrow.eot') format('embedded-opentype'),
         url('font/ptserifpro-narrow.svg#PTSerifProNarrow?') format('svg'),
         url('font/ptserifpro-narrow.woff') format('woff'),
         url('font/ptserifpro-narrow.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Serif Pro';
  font-style: italic;
  font-weight: 500;
    src: url('font/ptserifpro-narrowbookitalic.eot');
    src: url('font/ptserifpro-narrowbookitalic.eot') format('embedded-opentype'),
         url('font/ptserifpro-narrowbookitalic.svg#PTSerifProNarrowBookItalic?') format('svg'),
         url('font/ptserifpro-narrowbookitalic.woff') format('woff'),
         url('font/ptserifpro-narrowbookitalic.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
    src: url('font/ptsans-regular.eot');
    src: url('font/ptsans-regular.eot') format('embedded-opentype'),
         url('font/ptsans-regular.svg#PTSansRegular') format('svg'),
         url('font/ptsans-regular.woff') format('woff'),
         url('font/ptsans-regular.ttf') format('truetype');
}
 
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
    src: url('font/ptserif-regular.eot');
    src: url('font/ptserif-regular.eot') format('embedded-opentype'),
         url('font/ptserif-regular.svg#PTSerifRegular') format('svg'),
         url('font/ptserif-regular.woff') format('woff'),
         url('font/ptserif-regular.ttf') format('truetype');
}
*/
 
 @import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic); 
 @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:   'PT Serif', serif;
  color: #222;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font-family:  'PT Serif', serif;
}
 
#back{
  width: 1920px;
  position: absolute;
  z-index: 999;
  pointer-events:none;
  opacity: 0.5;
  left: 50%;
  top: 0;
  margin-left: -960px;
  display: none;
}
#back img{
  display:inline-block;
  vertical-align:bottom;

}
 
#wrapper {
width: 100%;
position: relative;
clear: both;
background: #fff;
min-width: 1168px;
z-index: 5; 
} 
#top-line {
  background: #222;
  height: 60px;
  line-height: 60px;
}
.row {
  width: 1168px;
  margin: 0 auto;
  position: relative;
  clear: both;
}
.back>img {
  width: 100%;
}
#top-line li {
  display: inline-block;
  vertical-align: top;
  margin-right: 57px;
}
li#logo {
  padding-left: 0px;
}
#top-line li a {
  color:#fff;
  font-size:20px;
  border-bottom:1px solid;
  padding-bottom:1px;
}
#top-line li.last {
  margin-right:35px;
}
#top-line li#search {
  margin-right:0;
}
#search form {
  position:relative;
  height:23px;
  margin-top:-4px;
}
#search input[type="submit"] {
  position:absolute;
  background:url(../img/icon-search.png) no-repeat;
  border:0;
  z-index:3;
  left:8px;
  top:6px;
  width:14px;
  height:14px;
  cursor:pointer;
}
*{
  outline: 0;
  
}
#search input[type="text"] {
  margin-top:19px;
  width:170px;
  padding-left:35px;
  height:21px;
  border:2px solid #403d3e;
  border-radius:6px;
  display:block;
  z-index:2;
  position:relative;
  background:transparent;
  color:#fff;
}
#menu-line {
  background:#fff;
  height:72px;
  border-bottom:2px solid #bcbcbc;
}
#menu li {
  float:left;
  margin-right:49px;
  margin-top:33px;
}
#menu {
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  border-bottom: 0!important;
}
#menu a {
  font-size:20px;
  color:#868686;
  border-bottom:1px solid;
  padding-bottom:1px;
}
#menu li:last-of-type {
  float:right;
  margin-right:0;
}
.clear {
  display:block;
  content:"";
  width:100%;
  clear:both;
}
#submenu li {
  float:left;
  margin-right:52px;
  margin-top:17px;
  padding:3px 9px;
  padding-bottom:4px;
  position:relative;
  z-index:6;
}
#submenu a {
  font-size:20px;
  display:block;
  position:relative;
  color:#868686;
  border-bottom:1px solid;
  padding-bottom:1px;
}
#submenu li.active {
  border:2px solid #ccc;
  pointer-events:none;
}
#submenu span.number {
  display:block;
  width:18px;
  height:18px;
  top:-12px;
  right:-26px;
  position:absolute;
  text-align:center;
  border-radius:50%;
  font-size:15px;
  line-height:17px;
  border:3px solid #ccc;
  color:#868686;;
}
#submenu {
  height:68px;
}
.content {
  background:#f2f2f2;
  padding-top:37px;
  padding-bottom:28px;
}
#footer {
  background:#222;
  height:60px;
}
#left-side {
  width:800px;
  float:left;
}
#right-side {
  width:368px;
  float:right;
}
.vidget {
  text-align:center;
  margin-bottom:38px;
  background:#fff;
  padding:20px;
}

.vidget img {
  max-width:100%;
}
#one-article {
}

.article>.img>img {
  width:100%;
}
.article {
  background:#fff;
  overflow:hidden;
  padding-bottom:25px;
  position:relative;
}
.atr-tiltle a{
  text-decoration:none;
  border-bottom:1px dashed;
  font-size:23px;
  padding-bottom:2px;
}
.atr-tiltle {
  padding-left:23px;
  padding-top:15px;
  padding-bottom:17px;
  padding-right:23px;
}
.article p {
  padding-left:23px;
  line-height:17px;
  font-size:16px;
  padding-right:35px;
  font-family: 'PT Serif', serif;
}
a.read-more {
  position:absolute;
  right:11px;
  bottom:2px;
  opacity:1;
}
a.read-more:hover {
  opacity:0.8;
}
#articles .article {
  width:368px;
  float:left;
  margin-right:32px;
  margin-bottom:32px;
}
.atr-tiltle:hover a {
  border:0;
}
#page {
  height:25px;
  margin-top:10px;
  background:#fff;
  padding-top:7px;
}
#articles {
}
#page li {
  float:left;
  font-size:12px;
  display:inline-block;
  text-align:center;
  margin-right:20px;
  border:2px solid transparent;
  padding:2px 4px;
}
#page li:last-of-type{
  float: right;
  margin-right: 0;
}
#page li a{
  text-decoration: none;
  display: block;
  color: #222;
}
#page li:hover a{
  text-decoration: underline;
  color: #222;
}
#page li.active {
  border:2px solid #222;
  pointer-events:none;
}

#footer li:last-of-type{
  float: right;
  margin-right: 0;
  color: #fff;
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
}
#footer li {
  float:left;
  margin-right:21px;
  margin-top:14px;
}
#footer #mini-logo {
  margin-right:55px;
  margin-top:10px;
  margin-left:0px;
}
div#one-vip {
  background:#222;
  padding-top:68px;
  padding-bottom:81px;
}

#one-vip .vipusk {
  width:100%;
}

div.vip-img {
  width:100%;
  margin-top:18px;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:18px;
  text-align:center;
  border-bottom:1px dashed #fff;
  border-top:1px dashed #fff;
}
div.vip-number {
  color:#fff;
  font-size:37px;
  font-family: 'PT Serif', serif;
}
div.vip-name {
  color:#fff;
  font-size:28px;
  padding-top:19px;
}
#one-vip div.vip-img img {
  width:50%;
}

#two-vip div.vip-img img {
  width:80%;
}

div.vip-img img {
  width:90%;
}

#two-vip .vipusk {
  width:46%;
  float: left;
}
div#two-vip { 
  background:#222;
  padding-top:68px;
  padding-bottom:81px;
}
#two-vip .vipusk:nth-child(2n) {
  float:right;
  margin-right:0;
}
#three-vip .vipusk {
  width:30%;
  float: left;
  margin-right: 5%;
}
div#three-vip { 
  background:#222;
  padding-top:68px;
  padding-bottom:81px;
}
div.grid-item:nth-child(3n){
  float: right;
  margin-right: 0;
}
#three-vip .vipusk:nth-child(3n) {
  float:right;
  margin-right:0;
}
div#grid {
  background:#222;
}
div.gr-name {
  display:none;
}
p.gr-text {
  display:none;
}
div.grid-item {
  width:364px;
  float:left;
  margin-right:36px;
  margin-bottom:36px;
  height:391px;
  overflow:hidden;
  cursor:pointer;
}
div.grid-item img {
  width:100%;
}
div#grid #page {
  background:#222;
  border:1px solid #ccc;
}
div#grid #page a {
  color:#ccc;
}

#fix{
  width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
position: fixed;
z-index: 1000;
top: 0;
left: 0;
display: none;
overflow-y: scroll;
}
#overlay{
width: 100%;
height: 100%; 
position: absolute;
z-index: 1001;
top: 0;
left: 0; 
cursor: pointer;
}
.popup {
  background: #222;
  width: 930px;
  left: 50%;
  top: 0%;
  position: absolute;
  margin-left: -500px;
  border: 2px solid #ccc;
  border-radius: 0;
  z-index: 1003;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;;
} 
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1005;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url(../img/close.png);
  background-size: 100%;
} 
div.popup-content img {
  display:block;
  margin:0 auto;
}
div.popup-content .gr-name {
  display:block;
  color:#fff;
  font-size:21px;
  margin-bottom:8px;
  text-align:left;
}
div.popup-content .gr-text{
  display: block;
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}
div#one-page {
  background:#f2f2f2;
  width:765px;
}
h1.pagetitle {
  font-family:'PT Serif', serif;
  padding-top:10px;
  font-size:40px;
  padding-bottom:20px;
}
.bold {
  font-weight:bold;
}
div.main-content {
  font-size:16px;
  line-height:16px;
}
div.main-content p.bold {
  margin-top:10px;
  margin-bottom:2px;
}
hr {
  background:#ccc;
  height:1px;
  border:0;
  width:100%;
  margin:15px 0;
}
div#map {
  width:100%;
  height:500px;
  margin-top:15px;
}

#submenu li.active a,  #top-line  #logo a{
  border-bottom: 0;

}
input, textarea, button {
  font-family:'PT Serif', serif;
}
div#article .main-content {
  line-height:18px;
  background:#fff;
}

#article h1.pagetitle {
  margin-bottom:24px;
} 
#one-page div.main-content {
  padding:19px;
}
div#contacts #one-page {
  background:#fff;
}
div#article .main-content p {
  margin-bottom:18px;
}
div#article {
}
div#author {
  background:#fff;
  padding:14px 19px;
  font-size:16px;
  border-bottom:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
  margin:1px 0px;;
}
div#author span {
  color:#868686;
  position:relative;
} 
span.aut-date {
  border-right:1px solid;
  padding:5px 0;
  padding-right:7px;
  margin-right:8px;
}
div#share {
  text-align:right;
} 
div.w50 {
  width:50%;
  float:left;
}
#author div.w50 {
  height:30px;
  line-height:30px;
}
div.main-content img {
  max-width:100%;
}
div.second-content {
  padding:19px;
}
ul#interes {
  width:100%;
}
ul#interes li {
  width:230px;
  float:left;
  margin-right:18px;
  display:block;
  height:250px;
  overflow:hidden;
  padding-bottom:10px;;
}
ul#interes .img {
  width:100%;
  height:105px;
  overflow:hidden;
}
ul#interes .img img {
  width:100%;
}

ul#interes li:nth-child(3n)::after{
  display: block;
  content: "";
  width: 100%;
  clear: both;
}
ul#interes li:nth-child(3n) {
  margin-left: 1px;
  margin-right: 0;
}

.in-title{
  padding:10px 0;
  line-height:21px;
  
}
.in-title a{
  text-decoration: none;
  border-bottom: 1px dashed;
  font-size: 18px;
  padding-bottom: 1px;
  font-weight: 300;
  font-family: 'PT Serif', serif;
}
ul#interes p {
  font-size:15px;
  line-height:17px;
}
h2 {
  font-size:23px;
  padding-bottom:15px;
  font-family:'PT Serif', serif;
}
ul.submenu {
  position:absolute;
  z-index:9;
  background:#fff;
  margin-left:-20px;
  padding-left:12px;
  padding-bottom:21px;
  padding-top:25px;
  border:2px solid #ccc;
  margin-top:-33px;
  display:none;
  width:180px;
}
#submenu li:hover .submenu {
  display:block;
}
#submenu>div>ul>li>a {
  position:relative;
  z-index:11;
}
#submenu  a:hover{
  border-bottom: 1px solid transparent!important;
} 
li.sub>a::after {
  content:url(../img/icon-select.png);
  padding-bottom:2px;
  padding-left:3px;
  position:absolute;
  right:-14px;
  top:-2px;
}
div.popup-content {
  text-align:center;

}
div#big-image {
  min-width:600px;
}
div#author.grey {
  background:#f2f2f2;
  border-color:#ccc;;
}
a#big-image {
  display:block;
  width:100%;
  position:relative;
  z-index:10;
}
a#big-image:hover:after {
  display: block;
}
a#big-image>img {
  width:100%;
  vertical-align:bottom;
} 
#top-line li {
  margin-right: 50px;
  float: left;
}
#top-line li#search {
  float: right;
}
li#logo {
  padding-top: 11px;
}
#top-line ul {
  height: 60px;
  overflow: hidden;
}
div#grid #page li.active {
  border: 2px solid #ccc;
}
div.vid-title {
    font-size: 23px;
    padding-bottom: 15px;
    font-family: 'PT Serif', serif;
    text-align: left;
    font-weight: 600;;
}
#one-page div.main-content img {
    width: 100%;
}
ul#slider li img {
  cursor: pointer;
}


a#big-image::after {
  position:absolute;
  width:92px;
  height:100%;
  background:url(../img/right-patt.png), url(../img/arrow-right.png) 70% 50% no-repeat;
  z-index:15;
  display:none;
  content:"";
  right:0;
  top:0;;
}



.main-content a.bx-next {
   background: url(../img/mini-right.png);
}
.main-content .bx-wrapper .bx-controls-direction a.bx-next {
   background:url(../img/right-patt.png), url(../img/arrow-right.png) 70% 50% no-repeat;
  width: 92px;
  height: 100%;
  top:0;
  margin-top: 0;
  right: 0;
}
.main-content .bx-wrapper .bx-controls-direction a.bx-prev {
   background:url(../img/left-patt.png), url(../img/arrow-left.png) 70% 50% no-repeat;
  width: 92px;
  height: 100%;
  top:0;
  margin-top: 0;
  left:0;
} 
.main-content .bx-wrapper .bx-controls-direction a.bx-prev,.main-content .bx-wrapper .bx-controls-direction  a.bx-next {
  opacity: 0.2;
}
.main-content .bx-wrapper .bx-controls-direction a.bx-prev:hover, .main-content .bx-wrapper .bx-controls-direction a.bx-next:hover{
  opacity: 1;
}
div.big-slide p {
  display: none; 
}  
div#slide-desc {
  padding-bottom: 23px;
  line-height: 22px;
  font-size: 18px;
}
div#tags a {
  text-decoration: underline;
}
div#tags li {
  display: inline-block;
}
div#tags li::after {
  content: ",";
}
div#tags a:hover {
  text-decoration: none;
}
div#tags {
  padding: 15px 0;
}
div#tags li:last-of-type:after {
  content: ".";
}


#one-page div.main-content img#prew {
  width: 360px;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
}
span.prew-text {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
span.prew-auth {
  display: block;
  color: #868686;
  font-size: 14px;
  margin-bottom: 15px;;
}